<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shaymee.s1.bankbook.BankbookDAO">
  
  	<select id="getList" resultType="com.shaymee.s1.bankbook.BankbookDTO"> <!-- ?가 없으므로 ParameterType은 없어도 됨 -->
  		SELECT * FROM BANKBOOK
  	</select>
  	
  	<select id="getSelect" parameterType="com.shaymee.s1.bankbook.BankbookDTO" resultType="com.shaymee.s1.bankbook.BankbookDTO"> <!-- parameterType: ?에 들어가는 데이터의 타입을 풀패키지명으로 적으란 뜻 -->
  		SELECT * FROM BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
  	</select>
  	
  	<insert id="setInsert" parameterType="com.shaymee.s1.bankbook.BankbookDTO" > <!-- 당연히&무조건 int가 리턴되므로 resultType을 안 쓰는 것 -->
  		INSERT INTO BANKBOOK (BOOKNUMBER, BOOKNAME, BOOKRATE, BOOKSALE) 
  		VALUES (BANKBOOK_SEQ.NEXTVAL, #{bookName}, #{bookRate}, #{bookSale})
  	</insert>
  	
  	<delete id="setDelete" parameterType="java.lang.Long"> <!-- 공부를 위해 DTO가 아닌 Long타입 숫자를 parameter로 받는다고 상정 -->
  		DELETE BANKBOOK WHERE BOOKNUMBER = #{bookNumber} <!-- 멤버변수가 없을 땐, DAO에서 넘어오는 변수명을 활용(ex. Long bookNumber) -->
  	</delete>
  	
  </mapper>
